button:focus-visible {
  outline: none;
}

.font-face-labels {
  font-family: Impact;
}

@font-face {
  font-family: "HyliaSerif";
  src: local("HyliaSerif"), url("assets/fonts/HyliaSerif-Regular.otf") format("opentype");
}