.counter {
  display: grid;
  grid-template-columns: [c0] 50% [c1] 50% [c2];
  grid-template-rows: [r0] 50% [r1] 50% [r2];
  gap: 0 0;
}

.counter > .base-item {
  grid-column: c0 / c2;
  grid-row: r0 / r2;
}

.counter > .top-left {
  grid-column: c0 / c1;
  grid-row: r0 / r1;
}

.counter > .top-right {
  grid-column: c1 / c2;
  grid-row: r0 / r1;
}

.counter > .bottom-left {
  grid-column: c0 / c1;
  grid-row: r1 / r2;
}

.counter > .bottom-right {
  grid-column: c1 / c2;
  grid-row: r1 / r2;
}

.counter > .text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
  overflow:visible
}