.badge, .counter, .composite, .dungeonReward {
  display: grid;
  grid-template-columns: [c0] 50% [c1] 50% [c2];
  grid-template-rows: [r0] 50% [r1] 50% [r2];
  gap: 0 0;
}

.badge > .base-item,
.counter > .base-item,
.composite > .single-item {
  grid-column: c0 / c2;
  grid-row: r0 / r2;
}

.badge > .top-left,
.counter > .top-left {
  grid-column: c0 / c1;
  grid-row: r0 / r1;
}

.badge > .top-right,
.counter > .top-right {
  grid-column: c1 / c2;
  grid-row: r0 / r1;
}

.badge > .bottom-left,
.counter > .bottom-left {
  grid-column: c0 / c1;
  grid-row: r1 / r2;
}

.badge > .bottom-right,
.counter > .bottom-right,
.dungeonReward > .bottom-right {
  grid-column: c1 / c2;
  grid-row: r1 / r2;
}

.composite > .left-half {
  grid-column: c0 / c1;
  grid-row: r0 / r2;
  background-size: 200%;
}

.composite > .right-half {
  grid-column: c1 / c2;
  grid-row: r0 / r2;
  background-size: 200%;
  background-position: -100%;
}

.dungeonReward > .bottom-row {
  grid-column: c0 / c2;
  grid-row: r1 / r2;
}