.itm-base {
  background-color: transparent;
  background-size: contain;
  overflow: hidden;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.itm-false {
  opacity: 0.15;
}

.itm-hidden {
  display: none;
}

.squish-base {
  display: grid;
  align-items: center;
}

.sub-flex-base {
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  justify-content: center;
}