.itm-base {
  background-color: transparent;
  background-size: contain;
  overflow: hidden;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.itm-false {
  opacity: 0.15;
}

.itm-hidden {
  display: none;
}

.inline-base {
  display: grid;
  align-items: center;
}

.sub-flex-base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.song-labels {
  font-family: "HyliaSerif";  
  text-align: right;
  margin-top: auto;
  position: relative;
  z-index: 1;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 2px #000, -1px -1px 2px #000;
  margin-bottom: -3%;
  user-select: none;
}