.OOT_FOREST_MEDALLION { background-image: url('assets/items/oot/drewards/forest_medallion.png'); }

.OOT_BOW            { background-image: url('assets/items/oot/items/bow.png'); }
.OOT_SLINGSHOT      { background-image: url('assets/items/oot/items/slingshot.png'); }
.OOT_BOOMERANG      { background-image: url('assets/items/oot/items/boomerang.png'); }
.OOT_HAMMER         { background-image: url('assets/items/oot/items/hammer.png'); }
.OOT_MIRROR_SHIELD  { background-image: url('assets/items/oot/items/mirror_shield.png'); }
.OOT_OCARINA        { background-image: url('assets/items/oot/items/ocarina.png'); }
.OOT_BEANS          { background-image: url('assets/items/oot/items/beans.png'); }
.OOT_GERUDO_CARD    { background-image: url('assets/items/oot/items/gerudo_card.png'); }
.OOT_STRENGTH_1     { background-image: url('assets/items/oot/items/goron_bracelet.png'); }
.OOT_STRENGTH_2     { background-image: url('assets/items/oot/items/silver_gauntlets.png'); }
.OOT_STRENGTH_3     { background-image: url('assets/items/oot/items/gold_gauntlets.png'); }
.OOT_GORON_TUNIC    { background-image: url('assets/items/oot/items/goron_tunic.png'); }
.OOT_ZORA_TUNIC     { background-image: url('assets/items/oot/items/zora_tunic.png'); }

.OOT_ZELDAS_LULLABY { background-image: url('assets/items/oot/songs/lullaby.png'); }

.MM_BOW             { background-image: url('assets/items/mm/items/bow.png'); }
.MM_FIRE_ARROWS     { background-image: url('assets/items/mm/items/fire_arrows.png'); }
.MM_ICE_ARROWS      { background-image: url('assets/items/mm/items/ice_arrows.png'); }
.MM_LIGHT_ARROWS    { background-image: url('assets/items/mm/items/light_arrows.png'); }
.MM_BOMB_BAG        { background-image: url('assets/items/mm/items/bomb_bag.png'); }
.MM_POWDER_KEG      { background-image: url('assets/items/mm/items/powder_keg.png'); }




.CHECKMARK          {  }